
       
<div class="contentarea">
        <my-app-header>
<header>
    <div class="dashboardhead text-center">
        <div class="clearfix">
            <div class="menu">
                <a href="#"><i aria-hidden="true" class="fa fa-bars"></i></a>
            </div>
            <div class="notification">
                <a href="#"><img alt="alert" class="fa desktop" src="img/dashboardbell.png">
                <img alt="alert" class="fa mobile" src="img/dashboardbell-mobile.png">
                </a>
            </div>
            <div class="logo">
                <img src="img/dashboardlogo.png">
            </div>
            <div class="usermenu">
                <a href="/logout"><img alt="logout" class="fa desktop" src="img/dashboardlogout.png">
                <img alt="logout" class="fa mobile" src="img/dashboardlogoutmobile.png">
                </a>
            </div>
        </div>
    </div>
</header>
</my-app-header>
        <app-breadcrumb>
<div class="custom-pagination">
    <ul class="list-unstyled">
        <!--template bindings={}-->

        <!--template bindings={}--><li class="disabled">
          <div class="disablelayer"></div>
      <a href="javascript:void(0);">Home</a>
        </li>
    </ul>
</div>
</app-breadcrumb>
        <div class="row">
               <div class="col-md-12 padding50">
                    <div class="ios">
                        <div class="row">
                             <h4 class="marginbottom50"> Change Password</h4>
                                <input type="text" class="width100 settingsinput inputStyling " placeholder="old password">
                                <input type="text" class="width100 settingsinput inputStyling" placeholder="new password">
                                <input type="text" class="width100 settingsinput inputStyling" placeholder="Re-Enter password">
                                <button class="btn btn-primary">SUBMIT</button>
                        </div>
                    </div>
              </div>
        </div>
        