
       
<div class="contentarea">
        <my-app-header>
<header>
    <div class="dashboardhead text-center">
        <div class="clearfix">
            <div class="menu">
                <a href="#"><i aria-hidden="true" class="fa fa-bars"></i></a>
            </div>
            <div class="notification">
                <a href="#"><img alt="alert" class="fa desktop" src="img/dashboardbell.png">
                <img alt="alert" class="fa mobile" src="img/dashboardbell-mobile.png">
                </a>
            </div>
            <div class="logo">
                <img src="dashboardlogo.png">
            </div>
            <div class="usermenu">
                <a href="/logout"><img alt="logout" class="fa desktop" src="img/dashboardlogout.png">
                <img alt="logout" class="fa mobile" src="img/dashboardlogoutmobile.png">
                </a>
            </div>
        </div>
    </div>
</header>
</my-app-header>
        <app-breadcrumb>
<div class="custom-pagination positionstatic">
    <ul class="list-unstyled">
        <!--template bindings={}-->

        <!--template bindings={}--><li class="disabled">
          <div class="disablelayer"></div>
      <a href="javascript:void(0);">Home</a>
        </li>
    </ul>
</div>
</app-breadcrumb>
        <div class="row">
               <div class="col-md-12 padding50 well positionstatic">
                   <h4>ASSIGNMENT 1</h4>
                      <div class=" row ios">
                      <div class="row">
                         <h6 class="padding50"> You have answered <b>6 correct</b> out of <b>10 questions</b>.</h6>
                            <div class="col-md-offset-2 col-md-4">
                                <h6>Total Time:</h6>
                                 <h5 class="marginleft30">15 minutes</h5>
                                 <h6>Avg. time per Ques:</h6>
                                 <h5 class="marginleft30">1.2 minutes</h5>
                            </div>
                             <div class="col-md-offset-2 col-md-2">
                                 <img src="percentage.png">
                                 <p>Percentile</p>
                            </div>
                            </div>
                            <hr>
                            <div class="row">
                                <h5 class="marginleft80">Trainer Review</h5>
                                <textarea rows="5" class="textareastyle"></textarea>
                            </div>
                       </div>

                 <hr>
                        
                 </div>
                      
                </div>
                </div>