<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lyncschool
</title>
<!-- Bootstrap -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!--- fonts -->
<link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    <link href="assests/vendor/slick/css/slick-theme.css" rel="stylesheet">
    <link href="assests/slick/css/slick.css" rel="stylesheet">
    <!-- site styles -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>




<div class="row spacing" style="margin-top:80px;margin-bottom:30px; box-shadow: 0 0 5px #c5c5c5">
       <div class="col-sm-5" style="padding:0px">
      
       <img src="img/dashboardmongo.jpg" class="img-responsive" height="440px" width="100%">
       </div>
           <div class="col-sm-7 ios">
               <h3>MONGO DATABASE</h3>
               <hr class="divider-color" style="background-color: #f9cb8f;box-sizing: border-box;display: block;height: 3px;margin: 14px auto;width: 100px;margin-left:40px;">

               <p style="font-size:15px">User Interface (UI) Design focuses on anticipating what users might need to do and ensuring that the interface has elements that are easy to access, understand, and use to facilitate those actions. UI brings together concepts from interaction design, visual design, and information architecture.</p>

               <div class="col-sm-6" well="" rating="">
                   <p style="margin-top:37px; margin-left:40px"><strong>STUDENT RATING
                   </strong></p>
                   <img src="img/dashboardrating.jpg" style="margin-left:40px">
                   <p style="margin-left:44px;font-size:15px;margin-top:10px;">View all reviews(1161).</p>
               </div>
                <div class="col-sm-6" well="" time="">
                    <h6 style="margin-top:37px;margin-left:45px"><strong>TIME</strong></h6>
                    <p style="font-size:15px">Study 8 hrs per day and complete in 6 months.</p>
                </div>
                <a href="dashboardmongo.html" class="btn btn-primary" style="float: right;margin-top: 20px;border-radius: 12px;">View More</a>
           </div>
       </div>