
       
<div class="contentarea">
        <my-app-header>
<header>
    <div class="dashboardhead text-center">
        <div class="clearfix">
            <div class="menu">
                <a href="#"><i aria-hidden="true" class="fa fa-bars"></i></a>
            </div>
            <div class="notification">
                <a href="#"><img alt="alert" class="fa desktop" src="img/dashboardbell.png">
                <img alt="alert" class="fa mobile" src="img/dashboardbell-mobile.png">
                </a>
            </div>
            <div class="logo">
                <img src="img/dashboardlogo.png">
            </div>
            <div class="usermenu">
                <a href="/logout"><img alt="logout" class="fa desktop" src="img/dashboardlogout.png">
                <img alt="logout" class="fa mobile" src="img/dashboardlogoutmobile.png">
                </a>
            </div>
        </div>
    </div>
</header>
</my-app-header>
        <app-breadcrumb>
<div class="custom-pagination">
    <ul class="list-unstyled">
        <!--template bindings={}-->

        <!--template bindings={}--><li class="disabled">
          <div class="disablelayer"></div>
      <a href="javascript:void(0);">Home</a>
        </li>
    </ul>
</div>
</app-breadcrumb>
        <div class="row">
               <div class="col-md-12 padding50">
                             <div class="ios">
                                 <div class="row">
                                     <div class="col-md-4 ">
                                       <img src="img/dashboardangularjs.jpg" class="width100">
                                     </div>
                                      <div class="col-md-8 ">
                                             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
                                             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
                                        <div class="col-md-6 margintop50">
                                             <h5>Student Rating</h5>
                                             <img src="img/dashboard3.png" class="width50">
                                             <p>View all reviews(1161)</p>
                                        </div>
                                        <div class="col-md-6 margintop50">
                                             <h5>Time</h5>
                                             <p>Study 8 hrs per day and complete in 6 months</p>
                                        </div>
                                     </div>

                                 </div>
                                 <div class="row">
                                     <div class="col-md-6 pull-left">
                                        <h3>iOS Development</h3>
                                     </div>
                                     <div class="col-md-6 ">
                                         <a href="#!/dashboardcourseclick2"><button class="btn btn-warning pull-right">Start course</button></a>
                                     </div>
                                 </div>
                                 <div class="row">
                                      <h3 class="text-center marginbottom50">WHAT DO I GET ?</h3>
                                       <div class="col-md-6">
                                         <ul class="ul">
                                             <li><i class="fa fa-check fastyle" aria-hidden="true"></i>Job Ready project portfolio</li>
                                              <li><i class="fa fa-check fastyle" aria-hidden="true"></i>Coach-supported forums</li>
                                               <li><i class="fa fa-check fastyle" aria-hidden="true"></i>Access to course material</li>
                                                <li><i class="fa fa-check fastyle" aria-hidden="true"></i>Verified Nanodegree credentials</li>

                                           </ul>
                                       </div>
                                        <div class="col-md-6">
                                            <ul class="ul">
                                             <li><i class="fa fa-check fastyle" aria-hidden="true"></i>Personalized feedback on projects</li>
                                              <li><i class="fa fa-check fastyle" aria-hidden="true"></i>Career guidence(interview,resume,etc.,)</li>
                                               <li><i class="fa fa-check fastyle" aria-hidden="true"></i>1:1 appoinments with udacity staff and mentors.</li>
                                                <li><i class="fa fa-check fastyle" aria-hidden="true"></i>Best-in-class courses taugh by expert instructors. </li>

                                           </ul>
                                          
                                        </div>

                                 </div>
                               
                               
                                 
                             </div>
                </div>
        </div>