
       
<div class="contentarea">
        <my-app-header>
<header>
    <div class="dashboardhead text-center">
        <div class="clearfix">
            <div class="menu">
                <a href="#"><i aria-hidden="true" class="fa fa-bars"></i></a>
            </div>
            <div class="notification">
                <a href="#"><img alt="alert" class="fa desktop" src="img/dashboardbell.png">
                <img alt="alert" class="fa mobile" src="dashboardbell-mobile.png">
                </a>
            </div>
            <div class="logo">
                <img src="img/dashboardlogo.png">
            </div>
            <div class="usermenu">
                <a href="/logout"><img alt="logout" class="fa desktop" src="img/dashboardlogout.png">
                <img alt="logout" class="fa mobile" src="img/logoutmobile.png">
                </a>
            </div>
        </div>
    </div>
</header>
</my-app-header>
        <app-breadcrumb>
<div class="custom-pagination">
    <ul class="list-unstyled">
        <!--template bindings={}-->

        <!--template bindings={}--><li class="disabled">
          <div class="disablelayer"></div>
      <a href="javascript:void(0);">Home</a>
        </li>
    </ul>
</div>
</app-breadcrumb>
        <div class="row">
               <div class="col-md-12 padding50">
                 <h3>{{cname}}</h3>
                             <div class="ios">
                                 <div class="row marginbottom20">
                                     <div class="col-md-6 marginbottom20">
                                         <h4 class="pull-left ">{{chapterdata.chapterheading}}</h4>
                                     </div>
                                     <div class="col-md-6 marginbottom20">
                                     <a href="#!/dashboardcourseclick3/vid/{{chapterdata.chapterid}}"><button class="btn btn-success pull-right width30">Back</button></a>
                                     </div>
                                     
                                 </div>
                                 <div class="row marginbottom20">
                                     <ul><li><h5 class="marginbottom20">{{chapterdata.chaptersubheading}}</h5></li></ul>
                                     <p class="marginbottom20">{{chapterdata.videoviewmorecontent}}</p><br>
<!--                                     <p class="marginbottom20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                     </p>-->
                                 </div>
                                 <hr>
                                 <div class="row marginbottom20">
                                     <a href=""><p class="pull-right">Next lesson<br>What Is IOS<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
                                 </div>
                             </div>
                </div>
        </div>