
    .exambody{
        background-image:url(exam.jpg);
    }
    section{
        height: 500px;
        width: 800px;
        margin: auto;
        margin-top: 80px;
    }
    .style h3{
        font-size:25px;
        font-family:sans-serif;
        margin-bottom: 50px;
        margin-left: 30px;
    }
    
    h1{
        color: steelblue;
        margin: 40px 0px 0px 40px;
        font-family: sans-serif;
    }

    #test{
        font-size: 24px;
        font-family: sans-serif;
    }
    #status{
        text-align: center;
    }
    .hrwidth{
        width: 70px;
    }
    #test #btn1{
        float: right;
        margin: 0px 60px 0px 0px;
        color: white;
        background-color: red;
        font-weight: bold;
        font-family: sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        width: 100px;
        height: 40px;
        border-radius: 5px;
        border-style: none;
    }
    #status h2{
        color:red;
    }


    #btn2{
        float: left;
        margin: 50px 60px 0px 0px;
        color: white;
        background-color: red;
        font-weight: bold;
        font-family: sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        width: 110px;
        height: 40px;
        border-radius: 5px;
        border-style: none;
    }
    /* The up/down direction logic */input,
    input:active {
      background-position: 0 24px;
    }
    input:checked {
      background-position: 0 0;
    }
    input:checked ~ input,
    input:checked ~ input:active {
      background-position: 0 -24px;
    }


#test h2{
    text-align: center;
}
#badge{
    height: 302px;
    width: 176px;
    margin-left: 300px;
    opacity: 0.7;
}
#onestar{
     width: 300px;
    height: 67px;
    margin-left: 250px;
}
